@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Oswald", sans-serif;
}

main {
  margin: 0px;
}

a {
  font-size: 30px;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #252525;
}

footer {
  background-color: #ffc0cb;
}

/* INDEX */
/* HEADER */
header .img-logo {
  width: auto;
  height: 90px;
  animation: rotar 4s;
}
header .img-logo:hover {
  opacity: 0.7;
}
header .nav-main {
  width: auto;
  height: 125px;
  display: flex;
  align-items: center;
}
header .nav-main .nav-menu {
  gap: 20px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header .nav-main .nav-menu .btn {
  width: auto;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #ffc0cb;
  border: 2px solid #000000;
  font-family: "Oswald", sans-serif;
}
header .nav-main .nav-menu .btn:hover {
  opacity: 0.7;
  color: #ffffff;
  border: 2px solid #000000;
  background-color: #8d7cfc;
}

/* KEYFRAMES */
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* MENÚ HAMBURGUESA */
.menu-hamburguesa {
  display: none;
}

header .collapse {
  padding-bottom: 5px;
}
header .collapse .bg-dark .btn {
  width: auto;
  color: #000000;
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  background-color: #ffc0cb;
  border: 2px solid #000000;
  font-family: "Oswald", sans-serif;
}
header .collapse .bg-dark .btn:hover {
  opacity: 0.7;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #8d7cfc;
}

/* INDEX */
.background-color-index {
  background-color: #ffffff;
}

.main-section {
  margin: 0px 10%;
  background-color: #ffffff;
}
.main-section .article-grid-index {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}
.main-section .article-grid-index .contenido-texto {
  padding: 50px 20px;
}
.main-section .article-grid-index .primer-titulo {
  margin: 0px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.main-section .article-grid-index .textos {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.main-section .article-grid-index .figure-mediaquery {
  display: flex;
  margin: 0px auto;
  align-items: center;
}
.main-section .article-grid-index .figure-mediaquery .img-nosotros {
  width: auto;
  margin: auto;
  height: 650px;
  display: block;
  align-items: center;
}

/* SECCIÓN NOSOTROS */
.background-color-section {
  background-color: #8d7cfc;
}
.background-color-section .article-flex-nosotros {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background-color-section .article-flex-nosotros .contenido-texto-section {
  width: 70%;
  text-align: center;
  margin: 25px auto 50px;
}
.background-color-section .article-flex-nosotros .contenido-texto-section .primer-titulo {
  margin: 0px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.background-color-section .article-flex-nosotros .contenido-texto-section .h2-section {
  margin: 0px;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.background-color-section .article-flex-nosotros .contenido-texto-section .textos-section {
  margin: 0px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.background-color-section .article-flex-nosotros .contenido-texto-section .ul-section, .background-color-section .article-flex-nosotros .contenido-texto-section .li-section {
  margin: 0px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.background-color-section .article-flex-nosotros .contenido-texto-section .li-section {
  padding: 20px 0px;
}

/* SECCIÓN TRABAJOS */
.article-grid-trabajos-contacto {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
.article-grid-trabajos-contacto .primer-titulo {
  margin: 0px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.article-grid-trabajos-contacto .textos {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.article-grid-trabajos-contacto .section-iframe, .article-grid-trabajos-contacto .section-iframe-2 {
  display: flex;
  justify-content: center;
}
.article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
  height: 720px;
  width: 1280px;
}
.article-grid-trabajos-contacto .section-iframe-2 {
  padding-bottom: 100px;
}

/* SECCIÓN SERVICIOS */
.segundo-titulo {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.ul-servicios {
  gap: 1em;
  margin: 0px;
  display: grid;
  text-align: center;
  background-color: #ffffff;
  padding: 25px 0px 50px 0px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}
.ul-servicios .li-servicios {
  margin: auto;
  width: 400px;
  padding: 50px 0px;
}
.ul-servicios .li-servicios .img-servicios {
  width: 400px;
  height: 400px;
}
.ul-servicios .li-servicios .img-servicios:hover {
  opacity: 0.7;
  cursor: pointer;
}
.ul-servicios .li-servicios .ul-h2 {
  width: auto;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin: 25px auto;
  border-radius: 5px;
  background-color: #ffc0cb;
  border: 2px solid #000000;
}
.ul-servicios .li-servicios .ul-h2:hover {
  color: #ffffff;
  background-color: #8d7cfc;
}
.ul-servicios .li-servicios .ul-p {
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
}

/* SLIDER DE LOGOS */
.background-color-section .segundo-titulo-logos {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.color-de-fondo-slider-logos {
  background-color: #ffc0cb;
}
.color-de-fondo-slider-logos .slider-logos-div {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider {
  padding: 0px;
  width: 200%;
  margin: auto;
  height: 150px;
  display: flex;
  align-items: center;
  animation: cambio 9s infinite alternate ease-in-out;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider {
  width: 100%;
  margin: auto;
  display: block;
  list-style: none;
  padding: 0 50px;
  text-align: center;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider img {
  transition: transform 0.3s linear;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider:hover {
  transform: scale(1.15);
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .logo1 {
  width: 20%;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .logo2 {
  width: 40%;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .logo3 {
  width: 20%;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .logo4 {
  width: 50%;
}
.color-de-fondo-slider-logos .slider-logos-div .ul-slider .logo5 {
  width: 40%;
  padding: 0px 0px;
}

/* KEYFRAMES */
@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: -20%;
  }
  40% {
    margin-left: -40%;
  }
  60% {
    margin-left: -60%;
  }
  80% {
    margin-left: -80%;
  }
  100% {
    margin-left: -100%;
  }
}
/* SECCIÓN FORMULARIO */
.formulario {
  gap: 25px;
  width: 40%;
  display: grid;
  margin: 0px auto;
  text-align: center;
  padding: 100px 0px 50px;
  grid-template-columns: 1fr;
}
.formulario .titulo {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}
.formulario .formulario_grupo_input {
  display: grid;
  padding-right: 30px;
  grid-template-columns: 80px 1fr;
}
.formulario .formulario_grupo_input .icono_input {
  height: 25px;
  font-size: 26px;
  margin: auto 0px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}
.formulario .formulario_grupo_input .formulario_input {
  width: 100%;
  height: 40px;
  outline: none;
  color: #000000;
  font-size: 16px;
  margin: 0px auto;
  font-weight: bold;
  line-height: 25px;
  background-color: #ffffff;
  border: 2px solid #000000;
  font-family: "Roboto", sans-serif;
}
.formulario .formulario_grupo_input ::placeholder {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.formulario .formulario_grupo_input .input_mensaje {
  resize: none;
  height: 104px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.formulario .formulario_mensaje {
  height: 40px;
  padding: 0px;
  display: none;
  color: #ffffff;
  margin: 0px auto;
  line-height: 40px;
  border-radius: 5px;
  background-color: #bb2929;
}
.formulario .formulario_mensaje_obligatorio {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.formulario_btn {
  width: 20%;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  background-color: #000000;
}

.formulario_btn:hover {
  box-shadow: 3px 0px 30px #a3a3a3;
}

/* FOOTER + SOCIAL */
footer .nav-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .nav-footer .flecha-arriba {
  margin: 0px;
  display: flex;
  font-size: 30px;
  list-style: none;
  padding-left: 50px;
  align-items: center;
}
footer .nav-footer .flecha-btn i {
  padding: 10px;
  color: #ffffff;
  border-radius: 50px;
  align-items: center;
  vertical-align: middle;
  background-color: #000000;
}
footer .nav-footer .flecha-btn i:hover {
  opacity: 0.7;
}
footer .nav-footer .h-footer {
  padding: 10px;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
footer .nav-footer .links {
  gap: 25px;
  margin: 0px;
  display: flex;
  padding-right: 50px;
  align-items: center;
  justify-content: flex-end;
}
footer .nav-footer .links li {
  width: 50px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
footer .copyright {
  gap: 15px;
  margin: 0px;
  color: #a3a3a3;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0px;
  text-align: center;
  background-color: #000000;
  justify-content: center;
  font-family: "Be Vietnam", sans-serif;
}
footer .copyright .copyright-texto {
  margin: 0px;
  cursor: default;
}
footer .copyright .diseñador-web-link {
  margin: 0px;
  font-size: 20px;
  cursor: pointer;
  color: #ffa500;
}
footer .copyright .diseñador-web-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1650px) {
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe, .article-grid-trabajos-contacto .section-iframe-2 {
    display: block;
    margin: 0px auto;
  }
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    height: 480px;
    width: 854px;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 60%;
  }
  .formulario .formulario_btn {
    width: 20%;
  }
}
@media screen and (max-width: 1600px) {
  /* SECCIÓN SERVICIOS */
  .segundo-titulo {
    margin: 0px;
  }
  .ul-servicios {
    padding: 50px 0px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1563px) {
  /* TODAS LAS SECCIONES */
  footer .nav-footer {
    padding: 15px 0px;
  }
  footer .nav-footer .h-footer {
    margin: 0px;
    font-size: 28px;
  }
}
@media screen and (max-width: 1440px) {
  /* TODAS LAS SECCIONES */
  .main-section {
    margin: 0px 5%;
  }
  footer .nav-footer .h-footer {
    font-size: 28px;
  }
}
@media screen and (max-width: 1262px) {
  /* TODAS LAS SECCIONES */
  footer .nav-footer .h-footer {
    font-size: 24px;
  }
  /* SLIDER DE LOGOS */
}
.segundo-titulo-logos .color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider .logo1 {
  width: 35%;
}
.segundo-titulo-logos .color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider .logo2 {
  width: 45%;
}
.segundo-titulo-logos .color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider .logo3 {
  width: 30%;
}
.segundo-titulo-logos .color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider .logo4 {
  width: 60%;
}
.segundo-titulo-logos .color-de-fondo-slider-logos .slider-logos-div .ul-slider .li-slider .logo5 {
  width: 50%;
  padding: 0px 0px;
}

@media screen and (max-width: 1092px) {
  /* TODAS LAS SECCIONES */
  footer .nav-footer .h-footer {
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) {
  /* INDEX */
  .main-section .article-grid-index {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-section .article-grid-index .figure-mediaquery {
    display: none;
  }
  /* TODAS LAS SECCIONES */
  footer .nav-footer .h-footer {
    margin: 0px;
    font-size: 22px;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    height: 360px;
    width: 640px;
  }
  /* SECCIÓN SERVICIOS */
  .ul-servicios {
    padding: 50px 0px;
    grid-template-columns: 1fr;
  }
  .segundo-titulo-logos {
    display: none;
  }
  hr {
    display: none;
  }
  .color-de-fondo-slider-logos {
    display: none;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 80%;
  }
}
@media screen and (max-width: 1006px) {
  /* TODAS LAS SECCIONES */
  footer .nav-footer {
    grid-template-columns: 1fr 1fr;
  }
  footer .nav-footer .h-footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* TODAS LAS SECCIONES */
  header {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  .hr {
    display: none;
  }
  .a-mediaquery {
    display: none;
  }
  .main-section {
    margin: 0px;
    background-color: white;
  }
  .main-section .article-grid-index {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .main-section .article-grid-index .contenido-texto {
    padding: 50px 0px;
  }
  /* FOOTER */
  footer .nav-footer {
    width: 100%;
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  footer .nav-footer .flecha-arriba {
    display: none;
  }
  footer .nav-footer .links {
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  footer .nav-footer .h-footer {
    display: none;
  }
  /* SECCIÓN NOSOTROS */
  .background-color-section .article-flex-nosotros .contenido-texto-section .h2-section {
    padding: 20px 0px;
  }
  .background-color-section .article-flex-nosotros .contenido-texto-section .ul-section, .background-color-section .article-flex-nosotros .contenido-texto-section .li-section {
    padding: 20px 0px;
  }
  .background-color-section .article-flex-nosotros .contenido-texto-section .primer-titulo {
    padding: 20px 0px;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    width: 591px;
  }
}
@media screen and (max-width: 591px) {
  /* COPYRIGHT */
  footer .copyright {
    display: grid;
    font-size: 22px;
    justify-content: 1fr;
  }
  footer .copyright .diseñador-web-link {
    font-size: 22px;
  }
  /* SECCIÓN NOSOTROS*/
  .background-color-section .article-flex-nosotros .contenido-texto-section {
    width: 100%;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 80%;
  }
  .formulario .formulario_btn {
    width: 30%;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  /* COPYRIGHT */
  footer .copyright {
    padding: 20px 0px;
  }
  footer .copyright .copyright-texto {
    margin: 0px;
    font-size: 20px;
  }
  footer .copyright .diseñador-web-link {
    font-size: 20px;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 80%;
  }
  .formulario .formulario_btn {
    width: 35%;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    width: 475px;
  }
}
@media screen and (max-width: 475px) {
  /* TODAS LAS SECCIONES */
  .main-section {
    margin: 0px;
  }
  .main-section .article-grid-index .primer-titulo {
    font-size: 30px;
  }
  .main-section .article-flex-nosotros .contenido-texto-section .h2-section {
    font-size: 30px;
  }
  /* SECCIÓN NOSOTROS */
  .textos-section, .li-section {
    font-size: 20px;
  }
  /* SECCIÓN SERVICIOS */
  .segundo-titulo {
    font-size: 45px;
  }
  .ul-servicios {
    padding: 0px 0px 50px 0px;
  }
  .ul-servicios .li-servicios {
    width: 320px;
  }
  .ul-servicios .li-servicios .img-servicios {
    width: 320px;
    height: 320px;
  }
  .ul-servicios .li-servicios .ul-p {
    width: 320px;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    width: 425px;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 90%;
  }
  .formulario .formulario_btn {
    width: 35%;
  }
}
@media screen and (max-width: 425px) {
  /* TODAS LAS SECCIONES */
  .main-section {
    margin: 0px;
  }
  .main-section .article-grid-index .contenido-texto {
    padding: 25px 0px;
  }
  /* SECCIÓN TRABAJOS */
  .article-grid-trabajos-contacto .section-iframe .iframes, .article-grid-trabajos-contacto .section-iframe-2 .iframes {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  /* SECCIÓN SERVICIOS */
  .segundo-titulo {
    font-size: 35px;
  }
  .li-servicios, .ul-p {
    width: 300px;
  }
  .img-servicios {
    height: 300px;
    width: 300px;
  }
  /* SECCIÓN CONTACTO */
  .formulario {
    width: 100%;
  }
  .titulo {
    font-size: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
